{% extends "parent.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block title %}
    <div class="title">
        <h1>Naughts and crosses</h1>
    </div>    
{% endblock %}

{% block content %}
    <table id="board">
        {% for r in range(3) %}
        <tr>
            {% for c in range(3) %}
            <td data-row="{{r}}" data-col="{{c}}">{{ grid[r][c] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <div style="text-align: center;">
        <button id="replayButton">Reset</button>
        <p><a href="{{ url_for('index') }}" ><- Return</a></p>
    </div>
    <script src="{{url_for('static', filename='js/gameHandler.js') }}"></script>
{% endblock %}